*,
*:after,
*:berore {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background:
        url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 150px;
    line-height: 1;
    color: #fff;
}

.intro-inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro_suptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: #fff;

}

/*Header*/

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*Nav*/

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link:after {
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav_link {
    display: inline-block;
    color: #fff;
    margin: 0 10px;
    vertical-align: top;
    text-decoration: none;
    transition: color .1s linear;
    position: relative;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover:after,
.nav_link.active::after {
    opacity: 1;
}

nav_link.active {
    color: #fce38a;
}

/*Button*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}


/*Slider*/


.slider {
    display: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider_item {
    width: 23%;
    position: relative;
    font-size: 18px;
    border-top: 3px solid #fff;
    opacity: .7;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0;
}

.slider-item.active {
    opacity: 1;
}


.slider_number {
    font-size: 24px;
    font-weight: 700;
}

.slider-item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}


.slider-inner {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}


/*Section*/

.section {
    padding: 80px 0;
}

.section_header {
    width: 100%;
    max-width: 850px;
    margin: 0 auto 40px;
    text-align: center;
}

.section_suptitle {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.section_title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto;
}

.section_text {
    font-size: 15px;
    color: #999;
}

/*about*/

.about {
    display: flex;
    justify-content: space-between;
}

.about_item {
    width: 380px;
}

.about_item:hover .about_image img {
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_image img {
    opacity: .1;
}

.about_image {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: tranform .2s linear;
}

.about_image img {
    display: block;
    transition: opasity .1s linear;
}
